body {
  margin: 0;
  font-family: sans-serif;
  background-color: #222;
  color: #eee;
  min-width: 1200px;
}

* {
  box-sizing: border-box;
}

button.plain {
  border: none;
  background: none;
  cursor: pointer;
}
